.sidebar {
  width: 120px;
  margin: 0;
}

.hours {
  list-style: none;
  margin: 0;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.hour {
  color: $greyMid;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;

  .bold {
    font-size: 16px;
    color: $greyDark;
    padding-right: 5px;
    font-weight: 800;
  }
}
